<html>
<head>
    <title>get csv</title>
</head>
    <div>
        <center>
            {% if current %}
        <h1>
            {{ current}}
        </h1>
        <br>
            {% if parent %}
            <a href="{{ parent }}">../</a>
            {% endif %}
            {% if path %}
                {% for p in path %}
                <a href="{{p.name}}">{{  p.name }}</a>
                </br>
                {% endfor %}
            {% endif %}
            <p>-----</p>
            {% if file %}
                {% for f in file %}
                    {% if f.canRead %}
                        <a href="/download/{{ f.url }}">{{ f.name }}</a></br>
                    {% else %}
                        {{ f.name }}
                    {% endif %}
                {% endfor %}
            {% else %}
            file not exist
            {% endif %}
        </body>
    {% endif %}
        </center>
    </div>
</html>
